<!-- <div>
    <section>
        <h1>Quem tem?</h1>
        <div>
            <mat-card class="py-15" fxFlex="7" fxFlex.sm="">
                <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="space-around center">
                    <section>
                        <p>
                            {{pais.nome}}
                        </p>
                        <p class="pt-10">{{figurinha.numero}}</p>
                    </section>
                    <section>
                            <span>
                                FIFA WORLD CUP
                            </span>
                    </section>
                </mat-card-content>
                <br/>
            </mat-card>
        </div>
        </section>
</div> -->

<div>
    <section>
        <h1>Quem tem?</h1>
    </section>

    <section class="card-pessoa">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-card-title>Ciclano</mat-card-title>
                <div class="unidade">
                    <p>
                        SP - Unidade Santana
                    </p>
                </div>
            </div>
            <mat-card-content fxLayout="column" fxLayoutAlign="center space-between" >
                <div fxLayout="row">
                    <h4>Para troca</h4>
                    <h4>Precisa</h4>
                </div>

                <div fxLayout="row">
                    <p>Vem as cartas</p>
                    <div fxLayout="column">
                        <p>Vem as cartas</p>
                        <a>Ver mais -></a>
                    </div>
                    </div>
            </mat-card-content>
          </mat-card>
    </section>
</div>