<div>
    <section class="cabecalho" fxLayoutAlign="space-between center">
        <h1>Quem tem?</h1>
        <mat-card class="app-figurinha" fxFlex="15" fxFlex.sm="">
            <app-figurinha class="app-figurinha" fxFlex="15" fxFlex.sm=""></app-figurinha>
        </mat-card>
    </section>

    <section class="card-pessoa">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-card-title>Ciclano</mat-card-title>
                <div class="unidade">
                    <span>
                        <b>SP - Unidade Santana</b>
                    </span>
                </div>
            </div>
            <mat-card-content fxLayout="column" >
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <p>
                        Para troca
                    </p>
                    <p>
                        Precisa
                    </p>
                </div>

                <div class="troca" fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                        <mat-card class="app-figurinha" fxFlex="50" fxFlex.sm="">
                            <app-figurinha></app-figurinha>
                        </mat-card>
                    </div>
                    <div>
                        <mat-card class="app-figurinha" fxFlex="50" fxFlex.sm="">
                            <app-figurinha class="app-figurinha"></app-figurinha>
                        </mat-card>
                    </div>
                    </div>
            </mat-card-content>
          </mat-card>
    </section>
</div>