<div>
    <section class="cabecalho" fxLayoutAlign="space-between center">
        <h1>Quem tem?</h1>
        <mat-card class="app-figurinha" fxFlex="15" fxFlex.sm="">
            <app-figurinha>
            </app-figurinha>
        </mat-card>
    </section>

    <section class="card-pessoa">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-card-title>Ciclano</mat-card-title>
                <div class="unidade">
                    <span>
                        <b>SP - Unidade Santana</b>
                    </span>
                </div>
            </div>
            <mat-card-content fxLayout="column" class="pt-20">
                <div>
                    <p>
                        Precisa
                    </p>
                </div>

                <div class="troca pt-10" fxLayout="row" fxLayoutAlign="space-between">
                    <mat-card class="app-figurinha" fxFlex="10" fxFlex.sm="">
                        <app-figurinha>
                        </app-figurinha>
                    </mat-card>
                </div>
            </mat-card-content>
          </mat-card>
    </section>
</div>