<div>
    <section class="repetida" fxLayout="column">
        <div>
            <h1>
                2 Repetidas
            </h1>
        </div>
        <div class="mx-20" fxLayout="row" fxLayoutGap="20px">
            <div fxLayoutAlign="center">
                <mat-card class="app-figurinha" fxFlex="75" fxFlex.sm="">
                    <app-figurinha></app-figurinha>
                </mat-card>
            </div>

            <div fxLayoutAlign="center">
                <mat-card class="app-figurinha" fxFlex="75" fxFlex.sm="">
                    <app-figurinha></app-figurinha>
                </mat-card>
            </div>
        </div>
    </section>
    
    <section class="empenhada pt-15" fxLayout="column">
        <div>
            <h1>
                Empenhada
            </h1>
        </div>
        <div class="mx-20" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="none center">
                <span>Me</span>
                <div fxLayoutAlign="center">
                    <mat-card class="app-figurinha" fxFlex="75" fxFlex.sm="">
                        <app-figurinha></app-figurinha>
                    </mat-card>
                </div>
            </div>
            <mat-icon>swap_horiz</mat-icon>
            <div fxLayout="column" fxLayoutAlign="none center">
                <span>Ciclano</span>
                <div fxLayoutAlign="center">
                    <mat-card class="app-figurinha" fxFlex="75" fxFlex.sm="">
                        <app-figurinha></app-figurinha>
                    </mat-card>
                </div>
            </div>
            <div fxLayout="column">
                <span>
                    <b>SP - Unidade Santana</b>
                </span>
                <span>21/09/2022</span>
            </div>
        </div>
    </section>
</div>