@import '/src/styles.scss';

.pr-10{
    padding-right: 10px;
}

.space{
    background-color: #D9D9D9;
    height: 6rem;
    padding: 0rem 1rem;
}

.icon-profile{
    background-color: #FFF;
    border-radius: 50%;
}