@import '/src/styles.scss';

.w-100{
    width: 100%;
}
.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pd-20{
    padding: 20px;
}

.py-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.album{
    background-color: #D9D9D9;
    border-radius: 3px;
}

.open-dialog{
    cursor: pointer;
}

mat-card{
    height: 150px;
}