p, h4{
    margin: 0px;
}

.py-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt-10{
    padding-top: 10px;
}

.w-100{
    width: 100%;
}

.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-card{
    height: 140px;
    background: #F0EDED;
    border-radius: 2px;
    text-align: center;
    padding: 0px;
}

mat-card-content{
    margin-bottom: 0px;
}

p{
    font-size: 18px;
}

span{
    font-size: 12px;
}