<div fxLayout="column" class="container">
    <div  class="my-20">
        <h1>
            Meu Album
        </h1>
    </div>
    <div class="album pd-20" *ngFor="let pais of album.paises">
        <div fxLayout="column" class="my-10">
            <div>
                <h1>{{pais.nome}}</h1>
            </div>
            <div fxLayout="row" class="container">
                <div class="w-100 open-dialog" *ngFor="let figurinha of pais.figurinhas; let i = index">
                    <mat-card fxFlex="75" fxFlex.sm="" fxLayoutAlign="space-around" (click)="abrirInfosDialog()" class="app-figurinha py-15">
                        <app-figurinha fxLayout="column" 
                            [(figurinha)] = pais.figurinhas[i]
                            [(nomePais)] = pais.nome>
                        </app-figurinha>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>