<!-- <div fxLayout="column" >
    <div *ngFor="let pais of album.paises">
        <div fxLayout="row" class="my-10">
            <h1>{{pais.nome}}</h1>
            <br/>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100">
                <mat-card class="py-15" fxFlex="7" fxFlex.sm="" *ngFor="let figurinha of pais.figurinhas">
                    <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="space-around center">
                        <section>
                            <p>
                                {{pais.nome}}
                            </p>
                            <p class="pt-10">{{figurinha.numero}}</p>
                        </section>
                        <section>
                            <a (click)="abrirTrocaDialog()">
                                <span>
                                    FIFA WORLD CUP
                                </span>
                            </a>
                        </section>
                    </mat-card-content>
                    <br/>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->

<div fxLayout="column" >
    <div *ngFor="let pais of album.paises">
        <div fxLayout="row" class="my-10">
            <h1>{{pais.nome}}</h1>
            <br/>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100" *ngFor="let figurinha of pais.figurinhas; let i = index">
                <app-figurinha
                    [(figurinha)] = pais.figurinhas[i]
                    [(nomePais)] = pais.nome>
                </app-figurinha>
            </div>
        </div>
    </div>
</div>